body {
	margin:10px 50px;
	background-color: #27AE60;

}

.content {
	background-color: #fff;
	padding: 10px;
	he
}

.sides {

	background-color: #27AE60;
}

.contain {
	background-color: #BDC3C7;
}

.right{
	float:right;
}

.right h3{
	display: inline;
}

.left {
	float: left;

}

.btn.xtina {
	float:right;
	width:200px;
	padding:60px;
	font-size: 32px;
	background-color: #27AE60;

}

.left h3 {
	display: inline;

} 

.attributes{
	display: block;
}

p.center{
	text-align: center;
}

.carousel-caption {
	padding: 25px 15px;
}

.carousel-caption p{
	margin-bottom: 10px;
}

.burrito-splash{
	width: 940px;
	height: 450px;

}