<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>OKBurrito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">

       <!-- Loading Flat UI -->
      <link href="/static/css/flat-ui.css" rel="stylesheet">
      <link rel="shortcut icon" href="images/favicon.ico">
        <!--my css file!-->
      <link href="/static/css/style.css" rel="stylesheet">  

  </head> 
  <body>
    <div class="container">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img class="burrito-splash" src="/static/images/burrito.jpg" alt="NOM NOM NOM">
          <div class="container">
            <div class="carousel-caption">
              <a class="btn btn-large btn-primary xtina" href="/signup.html">Sign up today!</a>
              <img class="splash" src="/static/images/okburrito_logo.png"/ >
              <p class="lead">Finding your perfect San Francisco burrito.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row home-text">
        <div class="span4">
          <!-- <img class="img-circle" src="/static/images/login_kitten.jpg"> -->
          <h2>Do Quiz!</h2>
          <p>Swag est food truck small batch farm-to-table labore. Letterpress ad vinyl, nesciunt culpa deserunt mollit flannel odd future retro plaid sed skateboard. Iphone marfa pop-up, proident vinyl veniam deserunt cillum. Pickled quinoa high life pitchfork before they sold out, selfies lomo terry richardson polaroid kog</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <!-- <img class="img-circle" src="/static/images/login_kitten.jpg"> -->
          <h2>Find Burrito!</h2>
          <p>Swag est food truck small batch farm-to-table labore. Letterpress ad vinyl, nesciunt culpa deserunt mollit flannel odd future retro plaid sed skateboard. Iphone marfa pop-up, proident vinyl veniam deserunt cillum. Pickled quinoa high life pitchfork before they sold out, selfies lomo terry richardson polaroid kog</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <!-- <img class="img-circle" src="/static/images/login_kitten.jpg"> -->
          <h2>Get It Delivered!</h2>
          <p>Swag est food truck small batch farm-to-table labore. Letterpress ad vinyl, nesciunt culpa deserunt mollit flannel odd future retro plaid sed skateboard. Iphone marfa pop-up, proident vinyl veniam deserunt cillum. Pickled quinoa high life pitchfork before they sold out, selfies lomo terry richardson polaroid kog</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    </div>
</body>
</html>
