{% extends 'base.html' %}

{% block content %}
<h1>Log in little ponies</h1>	

<form method='POST' action='/authenticate'>
	<fieldset>
	<label>Screenname:</label>
	<input type='text' placeholder='I know you are hungry' name='screenname'></input>
	<br>
	<label>Password:</label>
	<input type='text' placeholder='Give me all your secrets' name='password'></input>
	<br>
	<button type='submit' class="btn">Submit</button>
	</fieldset>
</form>

	<a href='/signup.html'>Sign off your soul today!</a>	
{% endblock%}
