{% extends 'base.html' %}

{% block content %}
<h1>So new! So burrito!</h1>


			<div class="login-form">
				<form method='POST' action='/signup'>
					<div class="control-group left">
						<input type="text" class="login-field" placeholder="Burrito Name:" id="login-name" name='screenname'/>
						<label for="login-name"></label>
					</div>
					<div class="control-group right">
						<input type="text" class="login-field" placeholder="Restaurant:" id="login-name" name='email'/>
						<label for="login-name"></label>
					</div>
					<div class="control-group left">
						<input type="password" class="login-field" placeholder="Type of Bean:" id="login-name" name='password'/>
						<label for="login-pass"></label>
					</div>
					<div class="control-group right">
						<input type="password" class="login-field" placeholder="Special Sauces:" id="login-name" name='password'/>
						<label for="login-pass"></label>
					</div>
					<div class="control-group">
						<input type="password" class="login-field" placeholder="Type of Protein:" id="login-name" name='password'/>
						<label for="login-pass"></label>
					</div>
					<div>
					<select value="X-Men" class="span3" tabindex="1" name="diet">
						<option value=''>What kind?</option>
						<option value="meat">Meat</option>
						<option value="vegan">Vegan</option>
						<option value="vegetarian">Vegetarian</option>
					</select>
					</div>	
					<div class="row-fluid">
						<div>
							<select value="X-Men" class="span3" tabindex="1" name="diet">
								<option value=''>Rice?</option>
								<option value="1">Yes</option>
								<option value="0">No</option>
							</select>
						</div>
						<div>
							<select value="X-Men" class="span3" tabindex="1" name="diet">
								<option value=''>Price?</option>
								<option value="1">$ 1-6</option>
								<option value="2">$ 7-12</option>
								<option value="3">$ 13 +</option>
							</select>
						</div>
						<div>
							<select value="X-Men" class="span3" tabindex="1" name="diet">
								<option value=''>Spicyness ?</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
						<div>
							<select value="X-Men" class="span3" tabindex="1" name="diet">
								<option value=''>Structure ?</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>	
					<div>	
						<button type="submit" class="btn btn-primary btn-large btn-block" >Add Burrito!</button>
					</div>	
				</form>        
			</div>





<p>

Fanny pack aesthetic mumblecore 8-bit four loko etsy pork belly terry richardson, pop-up meggings kogi pinterest pug synth cosby sweater. Master cleanse try-hard ethical, umami truffaut typewriter literally fashion axe salvia retro williamsburg wayfarers. VHS semiotics DIY, cardigan chambray cray messenger bag meggings typewriter tattooed ethnic pork belly authentic american apparel wayfarers. Gastropub DIY fap cred. Chambray wayfarers craft beer, whatever vice squid cred mcsweeney's tattooed occupy williamsburg pitchfork disrupt. Helvetica authentic twee pour-over blog pop-up, gentrify thundercats DIY ennui craft beer selvage yr letterpress. Wolf whatever chambray hella umami.
{% endblock %}