{% extends 'base.html' %}

{% block content %}
<h1>So new! So burrito!</h1>
<p>

Fanny pack aesthetic mumblecore 8-bit four loko etsy pork belly terry richardson, pop-up meggings kogi pinterest pug synth cosby sweater. Master cleanse try-hard ethical, umami truffaut typewriter literally fashion axe salvia retro williamsburg wayfarers. VHS semiotics DIY, cardigan chambray cray messenger bag meggings typewriter tattooed ethnic pork belly authentic american apparel wayfarers. Gastropub DIY fap cred. Chambray wayfarers craft beer, whatever vice squid cred mcsweeney's tattooed occupy williamsburg pitchfork disrupt. Helvetica authentic twee pour-over blog pop-up, gentrify thundercats DIY ennui craft beer selvage yr letterpress. Wolf whatever chambray hella umami.
{% endblock %}